<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-2.5.xsd">
	
	<!-- 
		共分为4种：property是公共节点，EL表达式解析节点，basevalue模板节点，其余是各业务节点
		1.property是程序本身的配置，例如日志路径等
		2.*EL是表达式解析节点，用于解析表达式，全大写的单词是需要业务处理类去替换的
		3.业务节点继承并可以覆盖basevalue的参数，需要指定自身业务的参数，业务节点的处理类必须指定正确，一般必须指定：
		  name是会作为线程名打印到日志，请保持不超过7字节
		  inputDir处理目录
		  outputDir输出目录
		  ...
	-->
	
	<bean id="property" class="com.asiainfo.loadhbase.Constant">
		<property name="propertyMap">
			<util:map map-class="java.util.HashMap">
				<entry key="LOG_PATH" value="./log" />
				<entry key="LOGBACK_CONF_FILE" value="./logback.xml" />
				<entry key="krb5conf" value="/home/bd_qzdzx/krb5.conf" />
				<entry key="keytab" value="/home/bd_qzdzx/user.keytab" />
				<entry key="jaasconf" value="/opt/client/HDFS/hadoop/etc/hadoop/jaas.conf" />
				<entry key="principal" value="bd_qzdzx@HADOOP.COM" />
				<!-- 
				开发集群：jdbc:hive2://172.16.1.228:10000/default
				联调集群：jdbc:hive2://172.32.0.3:24002,172.32.0.2:24002,172.32.0.1:24002/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2;sasl.qop=auth-conf;auth=KERBEROS;principal=hive/hadoop.hadoop.com@HADOOP.COM
				生产集群：jdbc:hive2://192.252.102.89:24002,192.252.102.90:24002,192.252.102.139:24002/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2_2;sasl.qop=auth-conf;auth=KERBEROS;principal=hive2/hadoop.hadoop.com@HADOOP.COM
				-->
				<entry key="connString" value="jdbc:hive2://172.16.1.228:10000/default" />
				<entry key="class" value="org.apache.hive.jdbc.HiveDriver" />
			</util:map>
		</property>
	</bean>

	<bean id="mrHander" class="com.asiainfo.loadhbase.handler.MRHander" >
		<property name="name"  value="mrHander" />
		<property name="ftpInfo"  value="172.16.0.138:21:hdptest:testhdp:/mnt/disk2/BOSS/bak,172.16.0.138:21:hdptest:testhdp:/mnt/disk3/BOSS/bak,172.16.0.138:21:hdptest:testhdp:/mnt/disk4/BOSS/bak,172.16.0.140:21:hdptest:testhdp:/mnt/disk1/BOSS/bak,172.16.0.140:21:hdptest:testhdp:/mnt/disk2/BOSS/bak,172.16.0.140:21:hdptest:testhdp:/mnt/disk3/BOSS/bak,172.16.0.141:21:hdptest:testhdp:/mnt/disk2/BOSS/bak,172.16.0.141:21:hdptest:testhdp:/mnt/disk3/BOSS/bak,172.16.0.141:21:hdptest:testhdp:/mnt/disk4/BOSS/bak,172.16.0.142:21:hdptest:testhdp:/mnt/disk2/BOSS/bak,172.16.0.142:21:hdptest:testhdp:/mnt/disk3/BOSS/bak,172.16.0.142:21:hdptest:testhdp:/mnt/disk4/BOSS/bak" />
		<property name="listFileCmd"  value="ls |head -100000" />
		<property name="RemoteType"  value="1" />   <!-- 1为用ftp方式获取文件列表，2为用ssh方式获取文件列表 -->
		<property name="ischgport"  value="false" />  <!-- ftp获取文件是否统一为端口号21，否则使用ftpInfo的端口获取 -->
		<property name="icfgport"  value="22" />  <!-- ssh连接获取文件列表时使用的端口号 -->
		<property name="recordClassName"  value="com.asiainfo.loadhbase.resource.BOSSRecord" />
		<property name="region"  value="100860031,10630038,106350096138" />
		<property name="tabFamily"  value="Info" />
		<property name="maptotalnum"  value="600" />  <!-- 单机最多的map数 -->
		<property name="column"  value="Header,Area,Body" />  <!-- EventFormatType,Area,Cdr -->
		<property name="filterregion"  value="06,09" />
		<property name="tdnum"  value="50" />  <!-- 每tdnum个文件起一个map -->
		<property name="isbakinput"  value="0" />  <!-- 0表示不备份 -->
		<property name="input"  value="/GMCCDATALOAD_INPUT" />
	</bean>
	
	<bean id="noMRHander" class="com.asiainfo.loadhbase.handler.NoMRHander" >
		<property name="name"  value="noMRHander" />
		<property name="ftp"  value="172.16.0.138:21:hdptest:testhdp:/mnt/disk2/BOSS/bak,172.16.0.138:21:hdptest:testhdp:/mnt/disk3/BOSS/bak,172.16.0.138:21:hdptest:testhdp:/mnt/disk4/BOSS/bak,172.16.0.140:21:hdptest:testhdp:/mnt/disk1/BOSS/bak,172.16.0.140:21:hdptest:testhdp:/mnt/disk2/BOSS/bak,172.16.0.140:21:hdptest:testhdp:/mnt/disk3/BOSS/bak,172.16.0.141:21:hdptest:testhdp:/mnt/disk2/BOSS/bak,172.16.0.141:21:hdptest:testhdp:/mnt/disk3/BOSS/bak,172.16.0.141:21:hdptest:testhdp:/mnt/disk4/BOSS/bak,172.16.0.142:21:hdptest:testhdp:/mnt/disk2/BOSS/bak,172.16.0.142:21:hdptest:testhdp:/mnt/disk3/BOSS/bak,172.16.0.142:21:hdptest:testhdp:/mnt/disk4/BOSS/bak" />
		<property name="cmd"  value="ls |head -100000" />
		<property name="type"  value="1" /> 
		<property name="ischgport"  value="0" />
		<property name="icfgport"  value="22" />
		<property name="recordClassName"  value="com.asiainfo.loadhbase.resource.BOSSRecord" />
		<property name="tableNamePrefix"  value="BOSS_" />
		<property name="region"  value="100860031,10630038,106350096138" />
		<property name="tabFamily"  value="Info" />
		<property name="maptotalnum"  value="600" />
		<property name="column"  value="Header,Area,Body" /><!-- EventFormatType,Area,Cdr -->
		<property name="filterregion"  value="06,09" />
	</bean>
	
	<bean id="bossRecord" class="com.asiainfo.loadhbase.resource.BOSSRecord" >
		<property name="name"  value="bossRecord" />
		<property name="tableNamePrefix"  value="BOSS_" />
	</bean>
	
	
</beans>